* 
{
  margin: 0px;
  padding: 0px;
}

html
{
  overflow: hidden;
  scroll-behavior: smooth;
  height: 100vh;
  background-color: black;
}

body 
{
  height: 100vh;
  overflow-y: auto;
}

main {
  display:flex;
  flex-direction: column;
  align-items: center;
}

/* Navigation Style */

.nav-web {
  background-color: black;
  min-height: 50px;
  min-width: 300px;
  width: 100vw;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 100;
}
a {
  text-decoration: none;
  margin: auto 20px auto 2vw;
  padding: 5px 0px 3px 0px;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Sansita Swashed';
  font-style: italic;
  color: rgb(79, 251, 63);
}
a:hover, a:active {
  border-bottom: rgb(79, 251, 63) solid 1px;
  color: whitesmoke;
}

.logo-div {
  display: flex;
  flex-direction: row;
}
.logo-div a {
  padding: 5px;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  font-family: sans-serif;
  color: rgb(79, 251, 63);
  border: 1px solid rgb(79, 251, 63);
}
.logo-div a:hover, .logo-div a:active {
  background-color: rgb(79, 251, 63);
  color: black;
}

.nav-links {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.resume {
  outline: none;
  border-radius: 6px;
  padding: 5px 5px;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Sansita Swashed';
  font-style: normal;
  border:rgba(79, 251, 63, 0.816) solid 1px;
  background-color: rgb(79, 251, 63);
  color: black;
}
.resume:hover, .resume:active {
  color: rgb(79, 251, 63);
  background-color: black;
  box-shadow: 0 0 25px greenyellow;
}

.nav-mobile {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  background-color: black;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 60vw;
  min-width: 200px;
  overflow: scroll;
}
.nav-mobile .logo-div {
  flex-direction: row;
  justify-content: space-between;
}
.nav-mobile .logo-div a {
  margin: 10px 15px;
}
#nav-x {
  font-size: 25px;
  margin-right: 12px;
  margin-top: 12px;
  margin-bottom: 36px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 400;
  cursor: pointer;
  text-shadow: 0 0 10px greenyellow;
}

.nav-mobile .nav-links {
  flex-direction: column;
  justify-content: start;
}
.nav-mobile a {
  font-size: 30px;
  margin: 10px 15px;
  padding: 10px;
  margin-top: 50px;
  text-align: left;
}

#nav-icon {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  float: right;
  margin-top: 30px;
  margin-right: 20px;
  cursor: pointer;
}
#nav-icon div {
  height: 5px;
  background-color: rgb(79, 251, 63);
  margin: 3px;
  border-radius: 5px;
  box-shadow: 0 0 10px greenyellow;
}
.div1 {
  width: 40px;
}
.div2 {
  width: 30px;
}
.div3 {
  width: 20px;
}

.hidden {
  display: none;
}
.blur {
  filter: blur(4px);
}
.noOver {
  overflow: hidden;
}

/* Main Style */

h1 {
  color: white;
  text-shadow: 0 0 3px black, 0 0 10px rgb(79, 251, 63);
  font-size: 48px;
}
h2 {
  color: white;
  text-shadow: 0 0 3px black, 0 0 10px rgb(79, 251, 63);
  font-size: 32px;
}

.front 
{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-bottom: 80px;
}
.front h1 {
  text-align: center;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin-bottom: 80px;
}
.about a:hover, .about a:active {
  border: none;
}
.about h1 {
  padding: 20px
}
.about h2 {
  text-align: center;
}
.imageMe {
  width: 300px;
  height: 300px;
  transition: transform 1s;
}

.skills-info {
  width: 100vw;
  min-width: 350px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
}
.skills-info h2 {
  margin: 40px 5vw 20px 5vw;
  padding: 10px 10px 5px 20px;
  border-bottom: solid 2px white;
  float: left;
}
.skills-info h4 {
  margin: 5px 0px 15px 0px;
  font-size: 20px;
  color: aliceblue;
  text-shadow: 0 0 25px greenyellow;
  text-align: left;
}
.history-box {
  width: 70%;
  margin-right: 30px;
}
.skills-box {
  margin: 10px 5vw;
  display: flex;
  flex-direction: row;
}
.circle {
  height: 20px;
  width: 20px;
  margin: auto 10px;
  border-radius: 10px;
}
.skills-info h3 {
  margin: 5px 30px;
  width: 21%;
  font-size: 20px;
  color: aliceblue;
  text-shadow: 0 0 25px greenyellow;
}

.contact {
  align-items: center;
  justify-items: center;
  text-align: center;
}
.contact h2 {
  margin-bottom: 20px;
}
.contact-button {
  margin-bottom: 30px;
  padding: 10px;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  color: rgb(79, 251, 63);
  background-color: black;
  border: 1px solid rgb(79, 251, 63);
  border-radius: 10px;
}
.contact-button:hover {
  background-color: rgb(79, 251, 63);
  color: black;
}
.green {
  background-color: rgb(79, 251, 63);
  box-shadow: 0 0 15px whitesmoke;
}
.dim-green {
  background-color: rgb(23, 93, 18);
}

.bottom-space {
  height: 120px;
}

/* Animation Style Below */

.imageMe:hover {
  transform: scale(1.2);
}

nav {
  -moz-animation: boxGlow 5s alternate-reverse infinite;
  -webkit-animation: boxGlow 5s alternate-reverse infinite;
  animation: boxGlow 5s alternate-reverse infinite;
}

@keyframes boxGlow {
  0% {
    box-shadow: 0 0 5px greenyellow;
  }
  100% {
    box-shadow: 0 0 25px greenyellow;
  }
}

@keyframes textGlow {
  0% {
    text-shadow: 0 0 5px greenyellow;
  }
  100% {
    text-shadow: 0 0 25px greenyellow;
  }
}

/* Media Screen Size */

@media screen and (max-width: 600px) {
  .nav-web{
    display: none;
  }
}

@media screen and (min-width: 601px) {
  .nav-mobile{
    display: none;
  }
  #nav-icon {
    display: none;
  }
}